* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  min-height: 100vh;
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(225, 100%, 94%);
  position: relative;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  max-width: 450px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.text-content {
  padding: 7%;
}

h2 {
  color: hsl(223, 47%, 23%);
  text-align: center;
  margin-bottom: 20px;
}

p {
  line-height: 30px;
  text-align: center;
}

.price {
  display: flex;
  padding: 2px;
  justify-content: space-between;
}

.music {
  display: flex;
  gap: 15px;
}

.plan {
  display: flex;
  flex-direction: column;
}

a {
  text-align: center;
  padding: 3px 20px 3px 20px;
}
